.filters {
  display: flex;
  flex-direction: column;
}

.label {
    display:block; 
    font-size:14px; 
    margin-bottom:40px;
}

.labelText {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color:#6c717b;

    display:block; 
    margin-bottom:8px;
}

.inputWrapper {
  position: relative;
  box-sizing: border-box;
}

.icon {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);

  pointer-events: none; 
  display: block;
}

.input {
    border-radius: 12px;
    padding-left: 48px;
    padding: 18px 218px 18px 48px;
    width: 360px;
    height: 56px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    background-color: #f7f7f7;
    border: none;
}

.input::placeholder {
    color: #101828; 
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}
.subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #475467;
    margin-bottom: 32px;
}

.block {
  display: flex;
  flex-direction: column;
  max-width: 360px;
  margin-bottom: 40px;
}

.title {
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    color: #101828;
    margin-bottom: 24px;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #dadde1;
  margin-bottom: 24px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
}

.filterBtn {
  width: 112px;
  height: 96px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;

  border-radius: 12px;
  border: 1px solid #e4e7ec;
  background-color: #fff;

  font-weight: 500;
  font-size: 16px;
  color: #101828;

  cursor: pointer;
  transition: border-color 0.2s;
  padding: 0;
}

.filterBtn:hover {
  border: 1px solid #e44848;
  background-color: #fff;
}

.active {
  border-color: #e44848;
  background-color: #fff;
}

.filterIcon {
  width: 32px;
  height: 32px;
  fill: #101828;
}

.descr {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
    text-align: center;
    color: #101828;
}

.search {
  height: 48px;
  border-radius: 200px;
  background: #e44848;
  color: #fff;
  border: none;
  font-size: 16px;
}