*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #fff;
  color: #101828;
  line-height: 1.5;
}

/* links */
a {
  text-decoration: none;
  color: inherit;
}

/* buttons */
button {
  border: none;
  border-radius: 200px;
  padding: 16px;
  width: 173px;
  height: 56px;
  background-color: #e44848;

  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color:#fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

button:hover {
  background-color: #d84343;
}
  