.hero {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 696px;
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url("/img/hero.jpg");

  background-size: cover;
  background-position: center;
    /* padding: 45px 20px; */
  
}

.content {
  padding: 260px 64px;
}

.title {
  font-weight: 600;
  font-size: 48px;
  line-height: 67%;
  color:#f7f7f7;
  margin-bottom: 16px;
}

.text{
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  color:#f7f7f7;
  margin-bottom: 40px;
}