.catalog {
  padding-top: 48px;
}

.layout {
  display: flex;
  gap: 64px;
}

/* LEFT */
.sidebar {
  width: 360px;
  flex-shrink: 0;
}

/* RIGHT */
.content {
  flex: 1;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.loadMore {
  width: 145px;
  margin: 0 auto 52px;
  display: block; 
  padding: 16px 32px;
  border-radius: 200px;
  border: 1px solid #dadde1;
  background-color: transparent;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color:#101828;
  cursor: pointer;
}