.card {
  display: flex;
  gap: 24px;

  padding: 24px;
  border-radius: 20px;
  border: 1px solid #e4e7ec;
  background-color: #fff;
  margin-bottom: 40px;
}

/* IMAGE */
.imageWrapper {
  position: relative;
  width: 292px;
  height: 320px;
  border-radius: 16px;
  overflow: hidden;
  flex-shrink: 0;
}

.image {
  object-fit: cover;
}

/* CONTENT */
.content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 8px;
}

.title {
    font-weight: 600;
    font-size: 24px;
    line-height: 133%;
    color:#101828;
}

.priceBlock {
  display: flex;
  align-items: center;
  gap: 12px;
}

.price {
    font-weight: 600;
    font-size: 24px;
    line-height: 133%;
    color:#101828;
}

.favoriteBtn {
    width: 26px;
    height: 24px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.favoriteBtn:hover {
    background-color: transparent;
}


.favoriteBtn svg {
  fill: #101828;
}

.favoriteBtn:hover svg {
  fill: #e44848;
}

.favoriteBtn:active svg {
  fill: #e44848;
}

/* META */
.meta {
  display: flex;
  gap: 16px;
  margin-bottom: 24px;
  font-size: 14px;
  color: #475467;
}

.rating,
.location {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #101828;
    display: flex;
  align-items: center;
  gap: 4px;
}

/* DESCRIPTION */
.description {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color:#475467;
    margin-bottom: 24px;
}

/* FEATURES */
.features {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 24px;
}

.features li {
  display: flex;
  align-items: center;
  gap: 8px;

  padding: 12px 18px;
  background-color: #f2f4f7;
  border-radius: 100px;
  font-size: 14px;
}

.features svg {
  width: 20px;
  height: 20px;
}

/* ACTION */
.showMore {
  align-self: flex-start;

  padding: 16px 40px;
  border-radius: 200px;
  border: none;
  background-color: #e44848;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}
