.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 48px;
  margin-bottom: 28px;
}

.imageWrapper {
  position: relative;
  aspect-ratio: 292 / 312;
  border-radius: 12px;
  overflow: hidden;
}

.image {
  object-fit: cover;
}